@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.woff');
  src:  url('../fonts/icomoon.eot?w59i3z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w59i3z') format('truetype'),
    url('../fonts/icomoon.woff?w59i3z') format('woff'),
    url('../fonts/icomoon.svg?w59i3z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Logout-1:before {
  content: "\e900";
}
.icon-Arrow---Right-2-1:before {
  content: "\e901";
}
.icon-Arrow---Down-2-1:before {
  content: "\e902";
}
.icon-Arrow---Right-1:before {
  content: "\e903";
}
.icon-Location-1:before {
  content: "\e904";
}
.icon-message-1:before {
  content: "\e905";
}
.icon-Calling-1:before {
  content: "\e909";
}
.icon-heart-1:before {
  content: "\e90b";
}
.icon-Calling:before {
  content: "\e90c";
}
.icon-Message:before {
  content: "\e90d";
}
.icon-Location:before {
  content: "\e90e";
}
.icon-Logout:before {
  content: "\e90f";
}
.icon-Vector-1:before {
  content: "\e910";
}
.icon-Vector:before {
  content: "\e911";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e907";
}
.icon-chevron-right:before {
  content: "\e908";
}
.icon-arrow-thin-right:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eaca";
}
